* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

#container{
    widows: 1000px;
    height: 550px;
    background-image: url("background.jpg");
    background-size: 1050px;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    margin-top: 35px;
    
}

#calculator {
    width: 320px;
    height: 520px;
    background-color: #cbcfd1;
    margin: 0 auto;
    top: 15px;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#result{
    height: 120px;
}

#history{
    text-align: right;
    height: 60px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}

#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

#keyboard{
    height: 400px;
}

.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}

.empty{
    background-color: #cbcfd1;
}

.number, .operator{
    cursor: pointer;
}

.number:hover, .operator:hover{
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.number:active{
    font-size: 17px;  
}

.operator:active{
    font-size: 25px;
}

.operator:focus, .number:focus, .empty:focus{
    outline: 0;
}


/*Color buttons*/
button:nth-child(1){
font-size: 20px;
background-color: #eed1d1;
}
button:nth-child(2){
    font-size: 20px;
    background-color: #eed1d1;
    }

    button:nth-child(3){
        font-size: 20px;
        background-color: #eed1d1;
        }

        button:nth-child(4){
            font-size: 20px;
            background-color: #eed1d1;
            }

            button:nth-child(8){
                font-size: 20px;
                background-color: #eed1d1;
                }
                button:nth-child(12){
                    font-size: 20px;
                    background-color: #eed1d1;
                    }
                    button:nth-child(16){
                        font-size: 20px;
                        background-color: #eed1d1;                    
                        }
                        button:nth-child(17){
                            font-size: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 200px;
                            margin-left: 25px;
                            }
/* End color buttons*/


                        
                    
                
            



